<div class="row bckblue paddingTop">
	<div class="col-md-3 col-md-offset-1 whitelinks text-center"><h4>Mi cuenta</h4></div>
</div>
<div class="row bckblue paddingTop">

			<div class="col-md-2 col-md-offset text-center">
				<a href="<%=url_for action: 'datos_basicos'%>">
					<span class="fa-stack fa-3x">
				      <i class="fa fa-circle fa-stack-2x"></i>
				      <i class="fa fa-user fa-inverse fa-stack-1x"></i>
				    </span><br><span class="whitelinks">Datos básicos</span>
				</a>
			</div>

			<div class="col-md-2 text-center">
				<a href="<%=url_for action: 'contacto'%>">
					<span class="fa-stack fa-3x">
				      <i class="fa fa-circle fa-stack-2x"></i>
				      <i class="fa fa-envelope fa-inverse fa-stack-1x"></i>
				    </span><br><span class="whitelinks">Contacto</span>
				</a>
			</div>

			<div class="col-md-2 text-center">
				<a href="<%=url_for action: 'foto'%>">
					<span class="fa-stack fa-3x">
				      <i class="fa fa-circle fa-stack-2x"></i>
				      <i class="fa fa-file-image-o fa-inverse fa-stack-1x"></i>
				    </span><br><span class="whitelinks">Foto</span>
				</a>
			</div>

			<div class="col-md-2 text-center">
				<a href="<%=url_for action: 'verificaciones'%>">
					<span class="fa-stack fa-3x">
				      <i class="fa fa-circle fa-stack-2x"></i>
				      <i class="fa fa-check fa-inverse fa-stack-1x"></i>
				    </span><br><span class="whitelinks">Verificaciones</span>
				</a>
			</div>

			<div class="col-md-2 text-center">
				<a href="<%=url_for action: 'seguridad'%>">
					<span class="fa-stack fa-3x">
				      <i class="fa fa-circle fa-stack-2x"></i>
				      <i class="fa fa-lock fa-inverse fa-stack-1x"></i>
				    </span><br><span class="whitelinks">Seguridad</span>
				</a>
				
				<br><br>
				
			</div>
			
		</div>