<!DOCTYPE html>
<html>
<head>
  <title>Yo Necesito</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body class=" <%= @ver_fondo_gris.nil? ? '' : 'grey' %> ">
<div class="container-fluid">
    <% if cliente_signed_in? || profesionista_signed_in? %>
	    <%= render "partialscp/header"%>
	<% else %>
	    <%= render "partials/header"%>
	<% end %>
	
	<%= yield %>
	
	<% if cliente_signed_in? || profesionista_signed_in? %>
	    <%= render "partialscp/footer"%>
	<% else %>
	    <%= render "partials/footer"%>
	<% end %>
	
</div>
</body>
</html>